body{
    width: 100%;
    text-align: center;
    margin: 0;
   
    
}
main{
    display: block;
    position:  relative;
    width: 100%;
    background-image: url("../img/123.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -10px;
    
}
.page-header{ /* Стили для хэдера*/
    position: static;
    width: 100%;
    background-color: #000000;
    color: white;
    height: 75px;
}
.header-wrapper{
    max-width: 960px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.main-wrapper{
    max-width: 960px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    position: relative;
    float: left;
    text-align: center;
    vertical-align: middle;
    top: 10px;
}
.menu-li{
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: bold;
}
.login-button{
    position: relative;
    float: right;
    text-align: center;
    top: 20px;
    width: 45px;
    height: 20px;
}
.menu-links{
    color: white;
    text-decoration: none;
    font-family: PT Sans Narrow;
}
.page-footer{
    display: relative;
    position: absolute;
    bottom: -380px;
    background-color:  grey;
    width: 100%;
   
}
.main-field{
    height: 2000px;

}
.logo-image{
    display: block;
    position: relative;
    width: 371px;
    height: 155px;
    top: 60px;
    left: 30%;
}
.main-advantages{
    width: 100%;
    height: 315px;
}
.main-advantages-fast{
    display: block;
    position: relative;
    float: left;
    margin-left: 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-family: PT Sans Narrow;
    width: 260px;
    height: 165px;
    top: 100px;
}
.main-advantages-cool{
    display: block;
    position: relative;
    float: left;
    margin-left: 60px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-family: PT Sans Narrow;
    width: 260px;
    height: 165px;
    top: 100px;
}
.news-gallery{
    display: block;
    position: relative;
    width: 940px;
    height: 419px;
    background-image: url("../img/news.png")
}
.liner{
    display: block;
    position: relative;
    width: 8px;
    height: 278px;
    left: 470px;
    top: 80px;
}
