body{
    position: relative;
    width: 100%;
    height: 1300px;
    text-align: center;
    margin: 0;
    background-image: url("../img/123.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
/*main{
    display: block;
    position:  relative;
    background-image: url("../img/123.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -12%;
    width: 100%;
    height: 100%;
    
}*/
.page-header{ /* Стили для хэдера*/
    position: relative;
    width: 100%;
    background-color: #000000;
    color: white;
    height: 75px;
}
.menu{
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 10px;
    right: 200px;
}
li{
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: bold;
}
.login{
    display: inline-block;
    position: relative;
    text-align: center;
    top: 10px;
    left: 220px;
    width: 45px;
    height: 16px;
}
.menu-links{
    color: white;
    text-decoration: none;
    font-family: PT Sans Narrow;
}
